---
layout: 'contentbase.njk'
---

<section id="wrapper">

	<!-- Content -->
		<div class="wrapper">
			<div class="inner">

				<h1 class="major">{{ title }}</h1>
				<div class="box alt">
					<div class="row gtr-uniform">
						<div class="col-12"><span class="image fit"><img src="{{ image }}" alt="{{ imageAlt }}" />caption</span></div>
					</div>
				</div>

				{{ content | safe }}
			</div>
	</div>
</section>

<!-- Scripts -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/jquery.scrollex.min.js"></script>
	<script src="assets/js/browser.min.js"></script>
	<script src="assets/js/breakpoints.min.js"></script>
	<script src="assets/js/util.js"></script>
	<script src="assets/js/main.js"></script>
