<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/assets/css/main.css">
		<noscript><link rel="stylesheet" href="/assets/css/noscript.css"/></noscript>
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  </head>
  <body>
    {% include 'header.njk' %}
    <main>
    {{ content | safe }}
    </main>
    {% include 'footer.njk' %}

{# this script redirects the user back to the cms after logging in #}
    <script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>

  </body>
</html>
