<section id="footer">
  <div class="inner">
    <h2 class="major">Get in touch</h2>
    <p>Drop me line with one of the links below.</p>
    {# <form method="post" action="#">
      <div class="fields">
        <div class="field">
          <label for="name">Name</label>
          <input type="text" name="name" id="name" />
        </div>
        <div class="field">
          <label for="email">Email</label>
          <input type="email" name="email" id="email" />
        </div>
        <div class="field">
          <label for="message">Message</label>
          <textarea name="message" id="message" rows="4"></textarea>
        </div>
      </div>
      <ul class="actions">
        <li><input type="submit" value="Send Message" /></li>
      </ul>
    </form> #}

    <ul class="contact">
      <li class="icon solid fa-envelope"><a href="mailto: carmen.kungxs@gmail.com">carmen.kungxs@gmail.com</a></li>
      <li class="icon brands fa-twitter"><a href="https://twitter.com/carmenkungxs"  target="_blank">https://twitter.com/carmenkungxs</a></li>
      <li class="icon brands fa-linkedin"><a href="https://www.linkedin.com/in/carmenkung/"  target="_blank">https://www.linkedin.com/in/carmenkung/</a></li>
      <li class="icon brands fa-github"><a href="https://github.com/Carmenkxs"  target="_blank">https://github.com/carmenkxs/</a></li>
    </ul>
  </div>

<!-- Scripts -->
  <script src="assets/js/jquery.min.js"></script>
  <script src="assets/js/jquery.scrollex.min.js"></script>
  <script src="assets/js/browser.min.js"></script>
  <script src="assets/js/breakpoints.min.js"></script>
  <script src="assets/js/util.js"></script>
  <script src="assets/js/main.js"></script>
