---
title: example
layout: 'contentbase.njk'
---
		<div id="page-wrapper">
		<section id="wrapper">
			<header>
				<div class="inner">
					<h2>Blog</h2>
					<p>Product Management and cultural experiences as an Asian in the West.</p>
				</div>
			</header>

		{%- for post in collections.post | reverse -%}

			<div class="wrapper">
				<div class="inner">

					<section class= "blog-icons">

							<div>
								<a href="{{ post.url }}" class="image"><img src="{{ post.data.image }}" alt="{{ post.data.imageAlt }}" /></a>
							</div>
							<div>
								<h3 class="major">{{ post.data.title }}</h3>
								<p>{{ post.data.date | postDate }}</p>
								<p>{{ post.data.description }}</p>
								<a href="{{ post.url }}" class="special">Continue reading</a>
							</div>
					</section>

				</div>
			</div>

			{% endfor %}

			</section>
		</div>

<!-- Scripts -->
	<script src="../assets/js/jquery.min.js"></script>
	<script src="../assets/js/jquery.scrollex.min.js"></script> 
	<script src="../assets/js/browser.min.js"></script>
	<script src="../assets/js/breakpoints.min.js"></script>
	<script src="../assets/js/util.js"></script>
	<script src="../assets/js/main.js"></script>

	