---
title: Projects
layout: 'contentbase.njk'
---

<!-- Wrapper -->
<section id="wrapper">
    <header>
        <div class="inner">
            <h2>Projects</h2>
            <p>Collection of personal projects for self learning and purely out of interest.</p>
        </div>
    </header>

    <!-- Content -->
        <div class="wrapper">
            <div class="inner">            

                <h3 class="major">Javascript Projects</h3>

                <section class="features">
                    <article>
                        {# <a href="#" class="image"><img src="../images/pic04.jpg" alt="" /></a> #}
                        <h3 class="major">Todo List</h3>
                        <p>To do list with the following functionality:</p>
                             <ol>
                                <li>Ability to add an item.</li>
                                <li>Mark an item as <i>complete</i>.</li>
                                <li>Delete an item.</li>
                            </ol>
                        <a href="https://codepen.io/carmenkxs/pen/podxbKX" target="_blank" class="special">Codepen</a>
                    </article>
                    <article>
                        <a href="/projects/calculator/index.html" class="image"><img src="../images/calculator_image.png" alt="" /></a>
                        <h3 class="major">Vanilla JS Calculator</h3>
                        <p>Calculator built with Vanilla Javscript</p>
                        <a href="https://github.com/Carmenkxs/vanillaJS-Calculator" target="_blank" class="special">Github Repo</a>
                        <a href="https://jsfiddle.net/carmenkxs/6txokgpa/1/" target="_blank" class="special">JS Fiddle</a>
                    </article>
                    <article>
                        {# <a href="#" class="image"><img src="images/pic05.jpg" alt="" /></a> #}
                        <h3 class="major">Personal Site</h3>
                        <p>This JAMstack website ( Yes this website ) that is hosted on netlify with a blog powered by eleventy. </p>
                        <a href="https://github.com/Carmenkxs/11ty-netlify-site" target="_blank" class="special">Github Repo</a>
                    </article>
                </section>

            </div>
        </div>

</section>




<!-- Scripts -->
	<script src="../assets/js/jquery.min.js"></script>
	<script src="../assets/js/jquery.scrollex.min.js"></script> 
	<script src="../assets/js/browser.min.js"></script>
	<script src="../assets/js/breakpoints.min.js"></script>
	<script src="../assets/js/util.js"></script>
	<script src="../assets/js/main.js"></script>
    
    